n8n/workflows/auth.json
{
  "name": "[AUTH] Login & Verify",
  "active": false,
  "settings": {},
  "nodes": [
    {
      "id": "1",
      "name": "Webhook Login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        120
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/login",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "auth-login-webhook"
    },
    {
      "id": "2",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        120
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst email = typeof body.email === 'string' ? body.email.trim().toLowerCase() : '';\nconst password = typeof body.password === 'string' ? body.password : '';\n\nif (!email || !password) {\n  return [{\n    json: {\n      success: false,\n      error: 'Email și parola sunt obligatorii.'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    email,\n    password\n  }\n}];"
      }
    },
    {
      "id": "3",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -540,
        120
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.success}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "4",
      "name": "Respond Missing Input",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -320,
        280
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "5",
      "name": "Query User",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -320,
        60
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, email, full_name, role, primary_department_id, is_active,\n       password_hash,\n       (password_hash = crypt($1, password_hash)) as password_valid\nFROM users\nWHERE email = $2 AND is_active = true\nLIMIT 1",
        "additionalFields": {
          "queryParams": "={{$json.password}},{{$json.email}}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "Helpdesk PostgreSQL"
        }
      }
    },
    {
      "id": "6",
      "name": "User Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -100,
        60
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.id !== undefined && $json.id !== null}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "7",
      "name": "Invalid Credentials Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        120,
        280
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "boolean": [
            {
              "name": "success",
              "value": false
            }
          ],
          "string": [
            {
              "name": "error",
              "value": "Email sau parolă incorectă."
            }
          ]
        }
      }
    },
    {
      "id": "8",
      "name": "Respond Invalid Credentials",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        340,
        280
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 401
        }
      }
    },
    {
      "id": "9",
      "name": "Password Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        60
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.password_valid}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "10",
      "name": "Has Department?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        340,
        60
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.primary_department_id !== null && $json.primary_department_id !== undefined}}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "11",
      "name": "Get Department Info",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        560,
        -40
      ],
      "alwaysOutputData": true,
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id as dept_id, name as dept_name, color as dept_color FROM departments WHERE id = $1 LIMIT 1",
        "additionalFields": {
          "queryParams": "={{$json.primary_department_id}}"
        }
      },
      "credentials": {
        "postgres": {
          "name": "Helpdesk PostgreSQL"
        }
      }
    },
    {
      "id": "12",
      "name": "Merge User + Department",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        780,
        -40
      ],
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition"
      }
    },
    {
      "id": "13",
      "name": "Build User With Department",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -40
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    id: $json.id,\n    email: $json.email,\n    full_name: $json.full_name,\n    role: $json.role,\n    primary_department_id: $json.primary_department_id,\n    department: ($json.dept_id !== undefined && $json.dept_id !== null)\n      ? { id: $json.dept_id, name: $json.dept_name, color: $json.dept_color }\n      : null\n  }\n}];"
      }
    },
    {
      "id": "14",
      "name": "Build User Without Department",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        160
      ],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    id: $json.id,\n    email: $json.email,\n    full_name: $json.full_name,\n    role: $json.role,\n    primary_department_id: $json.primary_department_id || null,\n    department: null\n  }\n}];"
      }
    },
    {
      "id": "15",
      "name": "User Ready",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1220,
        60
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "16",
      "name": "Generate JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        60
      ],
      "parameters": {
        "jsCode": "const header = { alg: 'HS256', typ: 'JWT' };\nconst now = Math.floor(Date.now() / 1000);\nconst payload = {\n  sub: $input.first().json.id,\n  email: $input.first().json.email,\n  role: $input.first().json.role,\n  department_id: $input.first().json.primary_department_id || null,\n  iat: now,\n  exp: now + 86400,\n};\n\nconst secret = 'helpdesk-jwt-secret-dev-2026';\n\nfunction base64url(str) {\n  return Buffer.from(str).toString('base64url');\n}\n\nconst headerB64 = base64url(JSON.stringify(header));\nconst payloadB64 = base64url(JSON.stringify(payload));\nconst signature = require('crypto')\n  .createHmac('sha256', secret)\n  .update(`${headerB64}.${payloadB64}`)\n  .digest('base64url');\n\nconst token = `${headerB64}.${payloadB64}.${signature}`;\n\nreturn [{\n  json: {\n    success: true,\n    token,\n    user: {\n      id: $input.first().json.id,\n      email: $input.first().json.email,\n      full_name: $input.first().json.full_name,\n      role: $input.first().json.role,\n      department: $input.first().json.department || null,\n    }\n  }\n}];"
      }
    },
    {
      "id": "17",
      "name": "Respond Login Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1660,
        60
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "18",
      "name": "Webhook Verify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -980,
        520
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "auth/verify",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "auth-verify-webhook"
    },
    {
      "id": "19",
      "name": "Verify JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        520
      ],
      "parameters": {
        "jsCode": "const token = $input.first().json.body?.token;\nconst secret = 'helpdesk-jwt-secret-dev-2026';\n\ntry {\n  if (!token || typeof token !== 'string') throw new Error('Invalid token');\n\n  const parts = token.split('.');\n  if (parts.length !== 3) throw new Error('Invalid token');\n\n  const headerB64 = parts[0];\n  const payloadB64 = parts[1];\n  const signatureB64 = parts[2];\n\n  const expectedSig = require('crypto')\n    .createHmac('sha256', secret)\n    .update(`${headerB64}.${payloadB64}`)\n    .digest('base64url');\n\n  if (signatureB64 !== expectedSig) throw new Error('Invalid signature');\n\n  const payload = JSON.parse(Buffer.from(payloadB64, 'base64url').toString());\n\n  if (payload.exp < Math.floor(Date.now() / 1000)) throw new Error('Token expired');\n\n  return [{ json: { success: true, user: payload } }];\n} catch (e) {\n  return [{ json: { success: false, error: 'Token invalid sau expirat.' } }];\n}"
      }
    },
    {
      "id": "20",
      "name": "Respond Verify",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -540,
        520
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      }
    }
  ],
  "connections": {
    "Webhook Login": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Query User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Missing Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query User": {
      "main": [
        [
          {
            "node": "User Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found?": {
      "main": [
        [
          {
            "node": "Password Valid?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Credentials Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invalid Credentials Payload": {
      "main": [
        [
          {
            "node": "Respond Invalid Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Valid?": {
      "main": [
        [
          {
            "node": "Has Department?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Credentials Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Department?": {
      "main": [
        [
          {
            "node": "Get Department Info",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge User + Department",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build User Without Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Department Info": {
      "main": [
        [
          {
            "node": "Merge User + Department",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge User + Department": {
      "main": [
        [
          {
            "node": "Build User With Department",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User With Department": {
      "main": [
        [
          {
            "node": "User Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build User Without Department": {
      "main": [
        [
          {
            "node": "User Ready",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "User Ready": {
      "main": [
        [
          {
            "node": "Generate JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate JWT": {
      "main": [
        [
          {
            "node": "Respond Login Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Verify": {
      "main": [
        [
          {
            "node": "Verify JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify JWT": {
      "main": [
        [
          {
            "node": "Respond Verify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
